[package]
name = "caps"
version = "0.0.3-pre"
authors = ["Luca Bruno <lucab@debian.org>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/lucab/caps-rs"
documentation = "https://docs.rs/caps"
description = "A pure-Rust library to work with Linux capabilities"
keywords = ["Linux", "capabilities", "POSIX", "getcap", "setcap"]
exclude = [
".gitignore",
".travis.yml",
]

[dependencies]
libc = "0.2"
error-chain = {version = "0.11", default-features = false}

[package.metadata.release]
sign-commit = true
upload-doc = false
disable-push = true
pre-release-commit-message = "cargo: caps release {{version}}"
pro-release-commit-message = "cargo: version bump to {{version}}"
tag-message = "caps {{version}}"
